body {
    margin: 0;
    background-color: black; /* 背景色 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 1px solid blue; /* 画面の枠線 */
}